.game {
  float: left;
  border: 1px solid red;
  width: 70%;
  height: 400px;
  position: relative;
}

.score {
  float: right;
  border: 1px solid green;
  width: 29%;
  height: 400px;
  text-align: center;
  line-height: 400px;
}

.ship {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px black solid;
  position: absolute;
  bottom: 5px;
}

.bullet {
  background-color: red;
  height: 10px;
  width: 10px;
  border: 1px solid yellow;
  position: absolute;
}

.instructions {
  border: 1px solid magenta;
  display: block;
  height: 10%;
  width: 100%;
  clear: both;
}

.targets {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  background-color: black;
}
